@import "./variables.scss";

/** --RESET CSS-- **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** --Globals styles-- **/
a {
  text-decoration: none;
  color: $color-font-black;
}

li {
  list-style: none;
}
