@import "./variables.scss";

.flex-container-inRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-container($direction, $alignHor, $justfyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignHor;
  justify-content: $justfyContent;
}
